    <div class="breadcrumbs overlay" data-stellar-background-ratio="0.7">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="list">
                        <li><a href="index.php">Home</a></li>
                        <li><a href="#">Merchant Name</a></li>
                    </ul>
                    <h2>Merchant Name</h2>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Breadcrumb -->

    <div class="service-single-first-section section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="sec-title">
                        <h1>Merchant <span>Name</span></h1>
                    </div>
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do ei usmod tempor incididunt.enim ad minim veniam, quis nostrud exer citation ullamco laboris nisi ut aliquip ex ea commodo con sequat duis aute irure dolor.Lorem ipsum dolor sit amet consectetur adipisicing elit sed do ei usmod tempor incididunt.enim ad minim veniam, quis nostrud exer citation ullamco laboris nisi ut aliquip ex ea commodo con sequat duis aute irure dolor.</p>
                        <div class="info-agents color-a">
                          <p>
                            <strong>Pan Number: </strong>
                            <span class="color-text-a"> +54 356 945234 </span>
                          </p>
                          <p>
                            <strong>Mobile: </strong>
                            <span class="color-text-a"> 999 123 456 789</span>
                          </p>
                          <p>
                            <strong>Email: </strong>
                            <span class="color-text-a"> agents@example.com</span>
                          </p>
                          <p>
                            <strong>Address:</strong>
                            <span class="color-text-a"> Margaret.Es</span>
                          </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="merchant-image">
                        <img src="images/merchant/1.jpg" alt="images">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="feature-section merchant-features">
        <div class="container">
            <div class="merchant-features-title">
                <div class="merchant-features-title text-center">
                    <h3>Merchant<span>&nbsp;Feature</span></h3>
                </div>
            </div>
            <div class="main-feature-body">
                <div class="row no-gutters">
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <div class="featured-content">
                            <div class="featured-content-main feature-style-1 ">
                                <div class="feature-icon">
                                    <div class="feature-icon-body">
                                        <i class="far fa-check-square"></i>
                                    </div>
                                </div>
                                <h2 class="medium-font">
                                        Financial Planning                               
                                </h2>
                                <div class="feature-process-desc">
                                <p>A digital agency isn't here to replace your internal team, we're here to partner with you and supplement your efforts.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <div class="featured-content">
                            <div class="featured-content-main feature-style-2 ">
                                <div class="feature-icon">
                                    <div class="feature-icon-body">
                                        <i class="far fa-check-square"></i>
                                    </div>
                                </div>
                                <h2 class="medium-font">
                                        Retirement Planning                                
                                </h2>
                                <div class="feature-process-desc">
                                <p>A digital agency isn't here to replace your internal team, we're here to partner with you and supplement your efforts.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <div class="featured-content">
                            <div class="featured-content-main feature-style-3 ">
                                <div class="feature-icon">
                                    <div class="feature-icon-body">
                                        <i class="far fa-check-square"></i>
                                    </div>
                                </div>
                                <h2 class="medium-font">
                                        Risk Management                               
                                </h2>
                                <div class="feature-process-desc">
                                <p>A digital agency isn't here to replace your internal team, we're here to partner with you and supplement your efforts.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <div class="featured-content">
                            <div class="featured-content-main feature-style-3 ">
                                <div class="feature-icon">
                                    <div class="feature-icon-body">
                                        <i class="far fa-check-square"></i>
                                    </div>
                                </div>
                                <h2 class="medium-font">
                                        Best services                                
                                </h2>
                                <div class="feature-process-desc">
                                <p>A digital agency isn't here to replace your internal team, we're here to partner with you and supplement your efforts.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                     
                </div>
            </div>
        </div>
    </div>

    <div class="merchant-review-section section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="merchant-review-title">
                        <h3>Comments</h3>
                        <div class="media">
                          <img src="images/logo.png" class="mr-3" alt="...">
                          <div class="media-body">
                            <h5 class="mt-0">User Name</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                          </div>
                        </div>
                        <div class="media">
                          <img src="images/logo.png" class="mr-3" alt="...">
                          <div class="media-body">
                            <h5 class="mt-0">User Name</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="contact-right-section">
                        <div class="contact-form-section">
                            <div class="contact-title">
                                Leave your Comments                            
                            </div>
                            <div class="form-section">
                                <form action="#" method="post">
                                    <input type="text" class="form-control" id="name" placeholder="Name">
                                    <input type="email" class="form-control" id="email" placeholder="E-mail">
                                    <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                                    <button class=" git-btn mt-30" type="submit">Submit</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        







