{% extends 'base.html' %}
{% load static %}

{% block content %}
  
  

<div class="login-page">
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<h3>Reset Password</h3>
				</div>
				<div class="card-body">
					<form method="post">
						{% csrf_token %}
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-envelope"></i></span>
							</div>
							<input type="email" name="email" class="form-control" placeholder="Email">
							
						</div>
						<div class="form-group">
							<input type="submit" value="Reset" class="btn float-right login_btn">
						</div>
					</form>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-center links">
						Note: Reset password link will be send to your Email ID
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
