<div class="footer-background">
    <div class="container contact-bottom pt-pb-70-35">
        <div class="row dashed-bottom">
            <div class="col-md-4 about-bottom">
                <ul>
                    <h3>About Our ompany</h3>
                    <p>Our Company will be providing you services on call or show you the location to the nearest service center.</p>
                </ul>
            </div>
            
            <div class="col-md-4 text-left">
                <div class="footer-last">
                    <ul>
                        <h3>contact detail</h3>
                        <li>Service on call</li>
                        <li><i class="fas fa-map-marker-alt"></i>2200,Kathmandu Nepal</li>
                        <li><i class="fas fa-phone"></i>+977- 014-123456</li>
                        <li><a href=""><i class="fas fa-envelope"></i>example@gmail.com</a></li>
                    </ul>
                </div>
                <div class="footer-last-social-link">
                        <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" target="_blank"><i class="fab fa-google"></i></a>
                        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                    
                </div>
            </div>
            <div class="col-md-4 form-pb-20">
                <h3>Quick links</h3>
                <ul>
                    <li><a href="#">links</a></li>
                    <li><a href="#">links</a></li>
                    <li><a href="#">links</a></li>
                    <li><a href="#">links</a></li>
                    <li><a href="#">links</a></li>
                    <li><a href="#">links</a></li>
                </ul>
            </div>
        </div>      
    </div>
        
    <div class="last-footer">
        <div class="row">
            <div class="col-12">
                <p>Copyright © Service On Call 2020. All Rights Reserved</p>
            </div>
        </div>
    </div>   
</div>